
<div class="card">
    <div class="card-header">
        <a href="{{ url_for('users', id=review.author.id) }}" class="">
            <span><img src="{{ review.author.avatar(36) }}"></span>
            {{ review.author.username }}
        </a>
        <span class="">said {{ moment(review.timestamp).fromNow() }}:</span>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <span id="review{{ review.id }}" class="">{{ review.body }}</span>
        <footer class="blockquote-footer">{% if review.rating %} Recommends {{ review.rating }} / 5 {% endif %}<cite title="Source Title"></cite></footer>
        </blockquote>
    </div>
</div>