{% extends "base2.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="col-sm-10">
        <h1 class=""><span></span><img src="{{ user.avatar(128) }}"></span>User: {{ user.username }}</h1>
        <div>{% if rating %}Employees Rating: {{ rating }}
            {% else %}
            <a href="#">Be the first one to review this firm</a>
            {% endif %}
        </div>
        {% if user.about_me %}
        <p class="">Status: {{ user.about_me }}</p>
        {% endif %}
        <table>
            <tr>
                <td class="">Domain</td><td class="">: {{ user.domain }}</td>
            </tr>
        </table>
        {% if user == current_user %}
            <p>
                <a href="{{ url_for('employersprofile') }}" class="">Edit your profile</a>
            </p>
        {% endif %}
        {% if session['isemployee'] %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p class="">
                <div>{{ wtf.form_field(form.review, class="form-width") }}</div>
                {% for error in form.review.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="">{{ form.rating.label }} {{ form.rating }}</p>
            <p class="">{{ form.submit() }}</p>
        </form>
        {% endif %}
        <div>
        {% for review in reviews %}
            {% include '_reviews.html' %}
        {% endfor %}
        </div>
        {% if prev_url %}
        <a href="{{ prev_url }}" class="">Newer Reviews</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}" class="">Older Reviews</a>
        {% endif %}

    </div>
    
{% endblock %}