{% extends "base.html" %}

{% block app_content %}

    <div>
        {% if not current_user.is_anonymous %}
        <h1 class="text-white">Hi, {{ current_user.username }}!</h1>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center">
        <div class="search-bar mt-4">
            <form class="text-center p-5" method="get" action="{{ url_for('employerssearch') }}">
            
            <h1 class="h3 mb-3 font-weight-normal text-white">Search Company Reviews and Ratings</h1>
            <div class="form-group ">
                {{ g.search_form.q(class='form-control',
                    placeholder=g.search_form.q.label.text) }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </form>
        </div>
    </div>
    
    
{% endblock %}