{% extends "base.html" %}

{% block app_content %}
    
    <form action="" method="post" class="d-inline-flex p-4 flex-column search-bar">
        {{ form.hidden_tag() }}
        <h1 class="text-white">Register</h1>
        <p class="text-white">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-white">
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% if form.domain %}
        <p class="text-white">
            {{ form.domain.label }}<br>
            {{ form.domain(size=32) }}<br>
            {% for error in form.domain.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% else %}
        <p class="text-white">
            {{ form.work_for.label }}<br>
            {{ form.work_for(size=32) }}<br>
            {% for error in form.work_for.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-white">
            {{ form.designation.label }}<br>
            {{ form.designation(size=32) }}<br>
            {% for error in form.designation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% endif %}
        <p class="text-white">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-white">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-white">{{ form.submit() }}</p>
    </form>
{% endblock %}