{% extends "base2.html" %}

{% block app_content %}
    <div class="col-md-4">
        <h3 class=""><span></span><img src="{{ user.avatar(128) }}"></span>User: {{ user.username }}</h3>
        {% if user.about_me %}
        <p class="">Status: {{ user.about_me }}</p>
        {% endif %}
        <table>
            <tr>
                <td class="">Company</td><td class="">: {{ user.work_for }}</td>
            </tr>
            <tr>
                <td class="">Designation</td><td class="">: {{ user.designation }}</td>
            </tr>
        </table>
        {% if user == current_user %}
            <p><a href="{{ url_for('employeesprofile') }}" class="">Edit your profile</a></p>
        {% endif %}
    </div>
    {% for review in reviews %}
        {% include '_reviews.html' %}
    {% endfor %}
    
{% endblock %}