{% extends "base.html" %}

{% block app_content %}
    <div class="col-md-4">
        <h1 class="text-white">User: {{ user.username }}</h1>
        {% if user.about_me %}
        <p>Status: {{ user.about_me }}</p>
        {% endif %}
        <table>
            <tr>
                <td class="text-white">Company</td><td class="text-white">: {{ user.work_for }}</td>
            </tr>
            <tr>
                <td class="text-white">Designation</td><td class="text-white">: {{ user.designation }}</td>
            </tr>
        </table>
        {% if user == current_user %}
            <p><a href="{{ url_for('edit_employee_profile') }}" class="text-white">Edit your profile</a></p>
        {% endif %}
    </div>
    {% for review in reviews %}
        {% include '_reviews.html' %}
    {% endfor %}
    
{% endblock %}